**/__pycache__/
# datasets/*/
# !datasets/.gitkeep
# assets/*
ckpts/*
!ckpts/.gitkeep
outputs/ckpts/*
!outputs/ckpts/.gitkeep
outputs/logs/*
!outputs/logs/.gitkeep
# outputs/results/*
# !outputs/results/.gitkeep
preds/*
!preds/.gitkeep
tmp
outputs/results/okvqa_prompt_1/*
outputs/results/okvqa_prompt_1_gemma2b/split_cache/
